.CardHero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: max-content;
  max-width: 100%;

  .Logo {
    width: 40%;
    margin-bottom: $twentypx;
  }

  h1 {
    font-family: $font-primary;
    text-transform: uppercase;
    font-size: $fiftypx;
    font-weight: 400;
    letter-spacing: calc($fiftypx * 0.3);

    span {
      font-style: italic;
    }
  }

  hr {
    width: $seventypx;
    height: 1px;
    background: $orange;
    border: none;
    margin: 20px auto;
  }

  .function {
    text-transform: uppercase;
    font-weight: 300;
    opacity: 0.7;
    font-size: $fourteenpx;
    letter-spacing: calc($fourteenpx * 0.3);
  }
  .employee {
    margin-top: $fourtypx;
    font-family: $font-primary;
    display: flex;
    flex-direction: column;
    gap: $eightpx;
    h2 {
      font-family: inherit;
      padding-bottom: 0;
      font-weight: 500;
      font-size: $thirty-twopx;
    }
  }
}

@media screen and (max-width: 768px) {
  .CardHero {
    h1 {
      font-size: $thirtypx;
      letter-spacing: calc($thirtypx * 0.3);
    }
    .function {
      font-size: $twelvepx;
    }
  }
}
