.Portfolio {
  position: relative;
  background: var(--couleur-fond2);
  .container {
    &.secret-mode-game-active {
      .projects-zone {
        .cards-zone,
        .select-projects-zone {
          display: none;
        }
      }
    }

    .secret-mode-game {
      padding: 0 !important;
      background: #fff;
      background: #000;
      position: relative;
      border-radius: $twopx;
      border-radius: $fivepx;
      border: $fourtypx solid #2d2e32;
      height: calc(100vh - $fourtypx * 4);
      min-height: calc(4 * $hundredpx);
      width: 90%;
      margin: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      line-height: 1.4;
      .cinematic-announcement {
        position: absolute;
        width: max-content;
        background: #000;
        color: #fff;
        position: absolute;
        top: $fiftypx;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: $tenpx $twentypx;
        border-radius: $sevenpx;
        box-shadow: 0 2px 10px var(--couleur-box-shadow);
        z-index: 1000;
      }
      &.projects-are-displayed {
        border: none;
      }
      &.secret-mode-game-zoom {
        animation: zoomEffect 0.5s ease-in-out forwards;
      }
      &.cinematic-end {
        background: #000;
        transition: 4s;
        .buttons-zone {
          display: none !important;
        }
      }

      .car {
        position: absolute;
        width: auto;
        height: auto;
        object-fit: contain;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      .buttons-zone {
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;

        gap: $twentypx;
        button {
          width: max-content;
          padding: $twopx $twentypx;
          letter-spacing: 1.5px;
          border-radius: $fiftypx;
          font-weight: $weight-medium;
          color: var(--couleur-scroll-to-top-button);
          cursor: pointer;
          transition: 0.3s;

          &:hover {
            transform: scale(1.03);
          }
          &:active {
            transform: scale(0.98);
            filter: brightness(0.8);
          }
          &.no {
            background-color: var(--couleur-texte);
          }
          &.yes {
            height: $fourtypx;

            background-color: var(--couleur-span);
            position: relative;
            // &::before {
            //   position: absolute;
            //   content: "";
            //   background-color: var(--couleur-fond);
            //   height: 40%;
            //   width: 40%;
            //   left: calc(50% + 10%);
            //   top: 50%;
            //   transform: translate(-50%, -50%);
            //   clip-path: polygon(0% 0%, 80% 50%, 0% 100%);
            // }
          }
        }
      }

      &:before {
        content: "";
        position: absolute;
        top: 100%;
        background-color: #2d2e32;
        height: $eightypx;
        width: $thirtypx;
      }
      &:after {
        content: "";
        position: absolute;
        top: calc(100% + $eightypx);
        background-color: #2d2e32;
        height: $sevenpx;
        width: calc(2 * $hundredpx);
      }
    }
  }
  .projects-zone {
    position: relative;

    .cards-zone {
      @include classic-grid(2);
      & {
        width: 92%;
        margin-inline: auto;
        grid-gap: $thirtypx;
      }
    }
    .select-projects-zone {
      display: none;
    }
  }
  .car-toogle {
    // // Pour faire rouler sous forme de rectangle
    // position: absolute;
    // object-fit: contain;
    // display: block;
    // width: calc($hundredpx + $tenpx);
    // height: max-content;
    // margin-top: $fiftypx;
    // left: 0;
    // bottom: 0;
    // transition: 1s opacity ease;
    // animation: run-rectangle 40s linear infinite;
    // cursor: pointer;

    // // Pour faire rouler en ligne droite

    object-fit: contain;
    display: block;
    width: calc($hundredpx + $tenpx);
    height: max-content;
    margin-top: $fiftypx;

    transition: 1s opacity ease;
    animation: run 17s linear infinite;
    cursor: pointer;

    &:hover {
      //animation-play-state: paused;
    }
    &.car-hidden {
      // opacity: 0;
      // pointer-events: none;
      // user-select: none;
      display: none;
    }
  }
}

@media screen and (max-width: 1250px) {
  .Portfolio {
    .container {
      .secret-mode-game {
        height: calc(4 * $hundredpx);
        border-width: $twentypx;
      }
    }
    .projects-zone {
      .cards-zone {
        grid-template-columns: 1fr;
        .CardProject {
          display: none;
          &.project-selected {
            display: unset;
            height: calc(6 * $hundredpx + $fiftypx);
            .cover {
              height: calc(4 * $hundredpx + $fiftypx);
              img {
                transition: 15s ease;
              }
              &:hover {
                img {
                  transform: translateY(
                    calc(-100% + calc(4 * $hundredpx + $fiftypx))
                  );
                }
              }
            }
            .content {
              gap: $sixteenpx;
            }
          }
        }
      }
      .select-projects-zone {
        display: flex;
        gap: $tenpx;
        width: max-content;
        margin: $fourtypx auto;
        .select {
          border: 1px solid var(--couleur-fond);
          background-color: var(--couleur-background-button);
          display: flex;
          justify-content: center;
          align-items: center;
          width: $fourtypx;
          height: $fourtypx;
          border-radius: 50%;
          box-shadow: 0 2px 10px var(--couleur-box-shadow);
          cursor: pointer;
          transition: all 0.3s;
          user-select: none;
          &.select-active {
            background-color: var(--couleur-background-button-active);
            transition: all 0.3s;
            color: var(--couleur-span);
          }
        }
      }
    }
    .car-toogle {
      position: unset;
      left: unset;
      bottom: unset;
      animation: run 20s linear infinite;
    }
  }
}

@media screen and (max-width: 678px) {
  .Portfolio {
    padding-bottom: $sixteenpx;
    .container {
      margin-bottom: $fiftypx;
      .secret-mode-game {
        height: 30vh;
        min-height: calc(2 * $hundredpx + $tenpx);
        border-width: $sevenpx;
        margin-inline: 0;
        width: 100%;
        &:before {
          height: $thirtypx;
        }
        &:after {
          top: calc(100% + $thirtypx);
          width: $seventypx;
        }
        .buttons-zone {
          top: 52%;
          flex-direction: column;
          align-items: center;
        }
      }
    }
    .projects-zone {
      .cards-zone {
        width: 100%;
        .CardProject {
          &.project-selected {
            min-height: calc(3 * $hundredpx + $eightypx + $sevenpx);
            height: max-content;
            .cover {
              height: calc(2 * $hundredpx + $sevenpx);
              img {
                transform: translateY(0);
              }
              &:hover {
                img {
                  transform: translateY(
                    calc(-100% + calc(2 * $hundredpx + $sevenpx))
                  );
                }
              }
            }
            .content {
              gap: $thirtypx;
              .description {
                margin-top: $sixteenpx;
                .mission {
                  -webkit-line-clamp: 2;
                  margin-bottom: $twentypx;
                }
              }
              .technos-used {
                .techno {
                  font-size: $sevenpx;
                  line-height: 2.5;
                }
              }
            }
          }
        }
      }
      .select-projects-zone {
        margin: $thirtypx auto;
        gap: $tenpx;

        .select {
          width: $thirtypx;
          height: $thirtypx;
          font-size: $tenpx;
        }
      }
    }
    .car-toogle {
      width: 15%;
      animation: run 10s linear infinite;
    }
  }
}
